/* CSS Document */
body
{
	background:#e6f0ff left top repeat-x;
	margin:0px;
	padding:0px;
	font-size: 14px;
	width: 100%
}
#wrapper
{width:897px;
background-color:#b8bec2;
margin:0 auto;
}
#banner
{width:897px;
height:605px;

}
.menuBar
{width:897px;
height: 55px;
padding-top: 15px;
background-color: #333;
background-repeat:no-repeat;
}
.menuBar ul
{margin:0px;
padding: 0; text-align:center;
position: relative;

}
.menuBar li
{display:inline;
padding:10px 20px 0px 20px;
list-style-type:none; background:url(../images/menu_border.gif) no-repeat 0 7px;
}
.menuBar li a
{
text-decoration:none;
color:#7f9986;
font:16px Myriad Pro, Arial, Helvetica, sans-serif;
text-transform:uppercase;
}
.menuBar li a:hover{text-decoration:none; color:#ffffff;}
.menuBar li a.current{text-decoration:none; color:#ffffff;}

.container1
{width:852px;
background:#dfe5ed left top no-repeat;
margin:0 auto;
}
.container1_inner
{width: 852px;
background:#dfe5ed left top no-repeat;
margin:0 auto;
}
.container1.inner
{
	width: 852px;
	margin:0 auto;
	background-color: rgb(143, 134, 118);
	background-image: url(../images/containerbg_1.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.workarea {
	background:url(../images/container_1.jpg) 97% 100% no-repeat;
	padding:34px 55px 34px 55px;

}
.workarea_inner {
	padding:34px 55px 34px 55px;
	background: #dfe5ed;
}
.workarea.inner{background:none;}

h1
{font-size:28px;
text-align:center;
margin:0px;
font-weight:200;
padding:12px 0px 0px 0px;
font-family:Georgia, "Times New Roman", Times, serif;
}
h2
{font-size:26px;
text-align:center;
margin:0px;
font-weight:200;
color:#202730;
padding:12px 0px 0px 0px;
font-family:Georgia, "Times New Roman", Times, serif;
}
h3
{font-size:26px;
text-align:center;
margin:0px;
font-weight:200;
color:#202730;
padding:0px 0px 0px 0px;
font-family:Georgia, "Times New Roman", Times, serif;
}
.textContainer1
{color:#000000;
font-size:14px;
margin-top:20px;
text-align:justify;
width:100%;
height:100%;
font-family:Georgia, "Times New Roman", Times, serif;
}

.clear
{clear:both;
	margin:0px;
	padding:0px;
}

.container2
{width:852px;
background:#fedfa8 url(../images/containerbg2.jpg) left bottom no-repeat;
margin:0 auto;
padding:0px 0px 44px 0px;
}

.container2.inner
{width:852px;
background:url(../images/containerbg2.jpg) left bottom no-repeat;
margin:0 auto;
padding:0px 0px 44px 0px;
}

.menuBar2
{width:897px;
height:58px;
margin-top:12px;
}
.menuBar2 ul
{margin:0px;
padding:0px; text-align:center;
}
.menuBar2 li
{display:inline;
list-style-type:none;
/*background:url(../images/footer_menu_border.gif) no-repeat 0 2px;*/
}
.menuBar2 li.first{background:none}

.menuBar2 li a
{text-decoration:none;
color:#b8bec2;
font-size:11px;
text-transform:uppercase;
padding:10px 15px 0px 15px;
font-family:Georgia, "Times New Roman", Times, serif;
}
.menuBar2 li a:hover{text-decoration:underline}
.menuBar2 li a.current{text-decoration:underline}

.welcome
{
	color: #202730;
}


.navLine
{
	color: #FEDFA8;
}


* {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}


.container {
    display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

}
.item {
     margin: 5px;
}


.container3 {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

figcaption {
	text-align: center;
}





/* inner pages css start */
h1.inner{font:20px tahoma, Arial; color:#fff; font-weight:100; margin:0px; padding:8px 0px 10px 10px; text-decoration:none}
h1.inner span{font:24px tahoma, Arial; color:#fff; font-weight:100; margin:0px; padding:25px 0px 10px 0px; background:none}
.aboutus-img{float:right; border:4px solid #ffe0aa;	margin:0px 0px 10px 20px;}
h5{font:15px Myriad Pro, Arial, Helvetica, sans-serif; color:#555555; font-weight:100; padding:0px 0px 5px 0px;	border-bottom:1px dotted #000;	margin:0px 0px 10px 0px; }
h6{font:17px Myriad Pro, Arial, Helvetica, sans-serif; color:#555555; font-weight:100; padding:0px 0px 5px 0px;	margin:0px 0px 10px 0px; }
.aboutcolumnzone{padding:20px 0px 16px 0px;}
.aboutcolumn1{width:48%; float:left; margin:0px 0px 10px 0px;}
.aboutcolumn2{width:48%; float:right; margin:0px 0px 10px 0px;}
.abouticon{float:left; margin:0px 20px 0px 0px;}
.insidereadmore{padding:10px 0px 10px 0px;}
.insidereadmore a{color:#5D2D23; font-size:14px; text-decoration:none}
.insidereadmore a:hover{text-decoration:underline}

a.projects{color:#5D2D23; font-size:14px; text-decoration:underline}
a:hover.projects{text-decoration:none}

input.button{color:#ffffff;	background:#414141;	font:bold 11px Arial, Helvetica, sans-serif; text-decoration:none; padding:10px 10px; margin:0px 5px 5px 0;	border:1px solid #000;}
input.button:hover{cursor:pointer; color:#cccccc;}
.whiteheading{font:30px Myriad Pro, Arial; color:#000; font-weight:100;	padding:0px; margin:25px 0px 20px 0px;}
.ourprojectrow{margin-bottom:20px; border-bottom:1px dotted #000; padding-bottom:10px;}
.servicecolumnzone{padding:20px 0px 16px 0px;}
.servicecolumn1{width:48%; float:left; margin:0px 0px 10px 0px;}
.servicecolumn2{width:48%; float:right;	margin:0px 0px 10px 0px;}
.blog-posted-row{padding:3px; background:#e4cea7}

.blog-posted-row a{color:#5D2D23; font-size:14px; text-decoration:underline; padding:0 0 0 8px}
.blog-posted-row a:hover{text-decoration:none}
/* inner pages css ends */
